doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    
  body

    form(action="/update" method="POST")
      label(for="name") Company Name:
      input(type="text" id="name" name="name" required)

      label(for="city") City:
      input(type="text" id="city" name="city" required)

      label(for="annualRevenue") Annual Revenue:
      input(type="number" id="annualRevenue" name="annualRevenue" required)

      button(type="submit") Submit
